* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

main {
    background-color: #E0E1DD;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

header,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #778DA9;
    color: white;
}
